.MuiDataGrid-columnHeader {
  background-color: #0d2e38 !important;
  color: #71e7da !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  text-transform: capitalize;
}

body {
  overflow-x: hidden !important;
}

.MuiTiptap-FieldContainer-root{
  min-height: 250px;
 }


 .ck-editor__editable {
  min-height: 300px;
}
